body{
    background-image: none;
}
.cardsize{
    width: 18rem;
}
.my-card a{
 text-decoration: none;

 color: #333;
 border-radius: 20px;
 border: #333 solid 1px;
 
}
.my-card a:hover{
    color: black;
   border: black solid 1px;
   background-color:rgba(0, 0, 0, 0.1);
}

.morning{
    background-color: #7ccde3;
}
.evening{
    background-color:#7bb474;
}
.pool-back{

    background: linear-gradient(rgba(162, 160, 160, 0.6),rgba(255, 255, 255, 0.6)), url(../images/pool-1.jpg);
    background-position:center;
    background-size: cover;
    border-radius: 15px;
  }
  .my-card-size{
      width: 200px;
  }