body{
  background-image: none;
  background-color: white;
  font: 400 13px Roboto, Arial, sans-serif;
  
  /* font-family:futura-lt-w01-light,sans-serif; */
  /* font:normal normal normal 18px/22px raleway,sans-serif;  */

}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.wrapper {
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.active{
  color: chartreuse;
  border-bottom: chartreuse;
}
.hide{
  display: none;
}

.td-morning{
  background-color: #7ccde3;
  border-radius: 20px;
}
.td-morning:hover{
  background-color:#70b4df;
}
.td-evening{
  background-color:#7bb474;
  border-radius: 20px;
}
.td-evening:hover{
  background-color:#4fa17c;
}
.td-pool{
  background-color: #fbb061;
  border-radius: 20px;
}
.td-pool:hover{
  background-color:#df9e59;
}
.td-off{
  background-color:#ffd985;
  border-radius: 20px;
}
h1{
  
  text-align: center;
}
.th-rad{
  border-radius: 5px; 
}
.min-view{
  height: 100vh;
}   

